ServerAliveInterval 180
PermitLocalCommand yes

ForwardX11 no

host fredrika
  hostname friendzone.magiiic.com

host friendzone
  hostname friendzone.magiiic.com

host hal
     hostname hal.magiiic.com

host herbie
    hostname herbie.magiiic.com

host izia
  hostname izia.magiiic.com

host joni
  hostname joni.magiiic.com

host khadja
  hostname khadja.magiiic.com

host miley
  hostname miley.magiiic.com

host vaughan
  hostname vaughan.magiiic.com

host libertiboat
  hostname libertiboat.fr
  user libertiboat

host git
  hostname git.magiiic.com
