# Ursull server Configuration  

# Global options
{
	# Other global options (optional)
}
# import /etc/caddy/sites-enabled/*.caddy

# On dev servers:
# (local_config) {
# 	tls internal
# }

# On production servers:
(local_config) {
}

import /etc/caddy/sites-enabled/*.caddy

# End of /etc/caddy/Caddyfile
