# Ursull server Configuration  

# Global options
{
	# Other global options (optional)
}

# Import common shared configuration
import /etc/caddy/common.caddyfile

# Environment-specific configuration
import /etc/caddy/environment.caddyfile

# Optional configurations (can be empty)
import /etc/caddy/conf-enabled/*.caddyfile

import /etc/caddy/sites-enabled/*.caddyfile

# End of /etc/caddy/Caddyfile
